body
{
    font-family: Arial, Helvetica, sans-serif;
}
/* Muda a estilização da tag "a" */
.container
{
    text-align: center;
}

.container a
{
    background-color: rgb(66, 142, 255);
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px; 
}
/* hover é passar o mouse por cima */
.container a:hover
{
    background-color: rgb(58, 125, 226);
}

html
{
    background-image: linear-gradient(to bottom right, #8BF0BA, #97C3D6 );
    background-size: cover;
    background-repeat:no-repeat;
    padding-bottom: 100%;
    overflow: hidden;
}
